html, body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
#banner{
    background-image: url("img/NodeBanners.jpg");
    width: 100vw;
    height: 40vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-size: cover;
    background-position-y: -35vh;
}
#formContainer{
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    width: 300px;
    text-align: start;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
}
input:focus{
    outline: none;
    transition-duration: .5s;
    border: 1px solid #4169E1;
}
#add-surname {
    height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4169E1;
    margin-top: 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 10px;
}
#added-surnames{
    display: flex;
    flex-direction: column;
}
#remove-surname{
    height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D2042D;
    margin-top: 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 15px;
    padding: 0 10px;
}
#added-surnames{
    display: flex;
}
#surname-btns-cont {
    display: flex;
    flex-direction: row;
}
.elementHide{
    visibility: hidden;
}
.elementShow{
    visibility: visible;
}